@import "mixins";
@import "sweetalert2/src/sweetalert2.scss";

.is-full {
    height: 100vh !important;
    width: 100%;
}

.is-square {
    @include aspect-ratio(1, 1);

    &.has-min-size {
        min-width: $square-size;
    }
}

.is-flex {
    & > .is-centered {
        margin: auto;
    }
}

.is-clickable {
    cursor: pointer;
}

.is-centered {
    margin: auto;
}